 
header {
    background-color: #000;
    // .header{

    // }
    .logo{
        margin-top:0;
        @include tablet{
            margin-top:7px;
            max-width: 200px;
            max-height: 20px;
            img{
                width: auto;
                height: auto;
            }
        }
        @include phone{
            max-width: 60%;
            max-height: 20px;
            margin-top: 15px;
            margin-left: 20%;
            img{
                width: auto;
                height: auto;
            }
        }
    }
    .minicart-wrapper {
        @include phone{
            right: 5px;
        }
        .action{
            position: relative;
            .text-add-cart{
                padding-left: 15px;
                margin-top: 5px;
                color: #fff;
                position: relative;
                top: 2px;
                @include phone{
                    display: none;
                }
            }
            .counter{
                position: absolute;
                left: 23px;
                border-radius: 100% !important;
                height: 17px !important;
                min-width: 15px!important;
                line-height: 16px !important;
                margin: 0 !important;
                .counter-number{
                    color: #000;
                }
            }
        }
        .showcart:before {
            color: #fff !important;
            font-size: 30px !important;
        }
    }
}
.block-search-custom{
float: none !important;
margin: 0 auto;
padding: 0;
width: 400px !important;
    @include  tablet{
        width: 300px !important;
    }
    @include phone{
        width: 100%!important;
        display: block;
        clear: both;
    }
form{
    .label{
        @include phone{
            position: absolute;
            right: 0;
            z-index: 10;
            top: 20px;
        }
    }
    position: relative;
    #search-tags{
        position: absolute;
        width: auto;
        height: 85%;
        top: 5%;
        border: 1px solid #bfbfbf;
        border-top: 0;
        border-bottom: 0;
        right: 40px;
        @include tablet{
            display: none;
        }
        @include phone{
            display: none;
        }
        // font-weight: bold;
    }
}
.control{
    clear: none;
}

input{
    border-radius: 20px;
    position: relative;
    left: 0;
    padding-right: 120px !important;
    @include phone{
        padding-right: 32px !important;
    }
}
}
//navigation
.nav-sections{
    background-color: #000;
    .navigation{
        background-color: #000;
        text-align: center;
        ul>li
        {
            margin-right: 50px;
            a.level-top{
            color: #fff !important;
            }
            @include tablet{
                //margin-right: 20px;
            }
        }

    }
}
//footer
footer {
background-color: #000 !important;
    color:#fff;
}
.block.newsletter .title{
    display: block;
    width: 30%;
    float: left;
    margin-right: 30px;
    text-align: right;
    margin-top:8px;
    @include phone{
        width: 100%;
        text-align: left;
        float: none;
    }
}

.block.newsletter{
    background-color: #0a0a0a;
    float: none !important;
    display: block;
    width: 100% !important;
    text-align: center;
    margin: 40px 0;
    @include phone{
        margin: 20px 0;
    }
    overflow: auto;
    .content{
        position: relative;
        width: 30%;
        display: block;
        margin-right: 30px;
        float: left;
        @include phone{
            width: 100%;
            float: none;
        }
        .control:before {
                content: '';
            }
        .control{
            input{
                padding-left:20px !important;
                padding-right: 30%;
            }
        }
        .actions{
            position: absolute;
            top: 0;
            right: 85px;
            button {
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                background-color: #e0e0e0;
                color: #000;
                border: 0;

            }
        }
    }
    .block-social{
        width: 30%;
        float: left;
        text-align: left;
        @include phone{
            width: 100%;
            float: none;
            margin-top: 30px;
        }
        span{
            width: 20%;
            display: block;
            float: left;
            margin-top:7px;
            @include tablet{
                width: 30%;
            }
            @include phone{
                width: 35%;
            }
        }
        span,img{
            margin-right: 20px;
        }
        img:last-child{
            margin-top:1px;
        }
    }
}
.form.subscribe{
    input {
        border-radius: 20px;

    }
}
.middle-menu{
    clear: both;
    border-top: 0.5px solid #fff;
    overflow: auto;
    padding-top: 30px;
    .menu__column_1,.menu__column_2,.menu__column_3,.menu__column_4{
        float: left;
        width: 24%;
        @include tablet{
            width: 49%;
            margin-bottom: 20px;
        }
        @include phone{
            width: 100%;
            .title-help::after,.title-hvorfor::after{
                content: "";
                transform: rotate(45deg);
                display: inline-block;
                float: right;
                margin-right: 7px;
                width: 10px;
                height: 10px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
            }
            .title-type:after{
                content: "";
                transform: rotate(-135deg);
                display: inline-block;
                float: right;
                margin-right: 7px;
                width: 10px;
                height: 10px;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
            }
        }
        ul>li{
            margin-bottom: 10px;
        }
        a{
            color: #fff;
            cursor: pointer;
        }

    }
    .menu__column_3 {
        ul > li {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            border-radius: 3px;
            text-align: center;
        }
    }
        .menu__column_4{
            img{
                width: 70%;
                height: 70%;
                margin-top: 20px;
                margin-bottom: 35px;
            }
        }

}
.store-info{
    .besttll{
        .bar-wrapper{
            border-right: none !important;
        }
    }
    .free-shipping, .prisga, .besttll{
        //text-align: center;
        display: inline-block;
        width: 33%;

        .bar-wrapper{
            height: auto;
            justify-content: center;
            text-align: center;
            border-right: 1px solid #ff5b24 ;
        @include  phone{
            border-right: none;
        }
        }

        .img-area{
            display: inline-block;
            margin-right: 20px;
            @include tablet{
                margin-right: 10px;
            }
            @include phone{
                display: block;
                margin-right: 0;
            }
        }
        .text-area{
            h3{
                margin: 0;
                @include phone{
                    font-size: 12px;
                }
            }
            display: inline-block;
            text-align: justify;
            @include phone{
                .hidden-xs{
                    display: none;
                }
            }
        }
    }
    .besttll{
        @include phone{
            width: 31%;
        }
    }
}
